---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: subscriptions.telemetry.kube-logging.dev
spec:
  group: telemetry.kube-logging.dev
  names:
    categories:
    - telemetry-all
    kind: Subscription
    listKind: SubscriptionList
    plural: subscriptions
    singular: subscription
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.tenant
      name: Tenant
      type: string
    - jsonPath: .status.outputs
      name: Outputs
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Subscription is the Schema for the subscriptions API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SubscriptionSpec defines the desired state of Subscription
            properties:
              condition:
                description: The condition which must be satisfied in order to forward
                  telemetry to the outputs.
                type: string
              outputs:
                description: |-
                  The outputs to which the logs will be routed if the condition evaluates to true.
                  Outputs must be in the same tenant as the subscription to be valid.
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
            required:
            - condition
            - outputs
            type: object
          status:
            description: SubscriptionStatus defines the observed state of Subscription
            properties:
              outputs:
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
              problems:
                items:
                  type: string
                type: array
              problemsCount:
                type: integer
              state:
                type: string
              tenant:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
