apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
{{ include "telemetry-controller.labels" . | indent 4 }}
  name: '{{ include "telemetry-controller.fullname" . }}'
  namespace: '{{ include "telemetry-controller.namespace" . }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: {{ include "telemetry-controller.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
        app.kubernetes.io/name: {{ include "telemetry-controller.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      {{- with .Values.podLabels }}
          {{ toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
        - args:
            - --metrics-bind-address=:8443
            - --health-probe-bind-address=:8081
            - --leader-elect
            - --metrics-secure
          command:
            - /manager
          image:
            '{{ .Values.image.repository | default "" }}:{{ .Values.image.tag | default .Chart.AppVersion
            }}'
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          {{- if .Values.securityContext }}
          securityContext: {{ toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
      {{- if .Values.podSecurityContext }}
      securityContext: {{ toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      serviceAccountName: '{{ include "telemetry-controller.serviceAccountName" . }}'
      terminationGracePeriodSeconds: 10
